{% extends 'base.html' %}
{% block content %}
    <div id="sidebar" style="top:90px;">
        <form action="/update_task/{{todo.id}}" method="post">
            <div>
                <label>Edit task name</label>
                <input type="text" name="task" value="{{ todo.task }}" required>
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
    <div style="margin-left:16%;" class="offset">
        <h2>Editing a task</h2>
            <p>Replace the name of your task with something else.</p>
    </div>
{% endblock %}