{% extends 'base.html' %}
{% block content %}
    <div id="sidebar">
        <form action="/add" method="post">
            <div>
                <label>Todo task</label>
                <input type="text" name="task" placeholder="Enter a Task">
                <button type="submit">Add a Task</button>
            </div>
        </form>
    </div>
    <div style="margin-left:16%;" class="offset">
        <h1>To Do List</h1>
        {% for todo in todo_list %}
        <p> {{todo.id}} : {{todo.task}} (Would you like to <a href="{{ url_for('edit', todo_id=todo.id) }}">Edit?)</a> : {{todo.complete}} : {{todo.date.strftime('%Y-%m-%d') }} </p>
        {% if todo.complete==False %}
            <p>Task Incomplete. <a href="/update/{{todo.id}}">Mark as Complete?</a></p>
        {% else %}
            <p>Task Complete. <a href="/update/{{todo.id}}">Mark as Incomplete?</a></p>
        {% endif %}
        <a href="/delete/{{todo.id}}">Delete this task?</a>
        {% endfor %}
    </div>
{% endblock %}